<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <meta name="description" content="myblog-an online blog webapp">
    <meta name="author" content="Vishal Kumar">
    <title>Welcome | MyBlog</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">-->

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='myblog.min.css') }}" rel="stylesheet">

    <style>
      div.post { /*border: 1px solid #999;*/
              padding: 10px 15px;
              margin: 10px 10%%; }
      hr.postbound { width: 50%%;}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">MY BLOG</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                {% if not session.logged_in %}
                    <a class="nav-link" href=#>About</a>
                {% else %}
                    <a href="{{ url_for('show_entries') }}" class="btn btn-lg btn-success">Write Blog</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if not session.logged_in %}
                    <a href="{{ url_for('login') }}" class="nav-link">ADmin</a>
                {% else %}
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <!-- Page Header -->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='home-bg.jpg') }}')">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                  <h1 style="letter-spacing: 10px;">Welcome to MY BLOG!</h1>
                  <span class="subheading" style="color: #ffb900;">A Personal Blog by VISHAL KUMAR</span>
                </div>
              </div>
            </div>
          </div>
        </header><hr><br>
    {% block body %}{% endblock %}
    {% for entry in entries %}
    <content>
    <center>
    <div class="container">
      <div class="post">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

              <div class="post-heading"> <!--style="margin-left: 10px;">-->
                <h1 style="text-align: left; font-size: 30px; color:#70b92f;">{{ entry.title }}</h1>
                 <br>
                <p class="post-meta" style="text-align: left;">{{ entry.time }}<br>
                            Posted by <b>{{ entry.author }}</b></p>
                <h2 class="subheading" style="font-weight: 100; font-size: 20px; text-align: left; line-height: 1.6;">{{ entry.text }}</h2>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </center>
    <hr width="50%" style="color: #323232;">
      </content>
      {% endfor %}

    {% block foot %}
       {% include "footer.html" ignore missing %}
    {% endblock %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='myblog.min.js') }}"></script>
  </body>
</html>
