<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <meta name="description" content="myblog-an online blog webapp">
    <meta name="author" content="Vishal Kumar">
    <title>Welcome | MyBlog</title>
    <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='myblog.min.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">MY BLOG</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <!-- Page Header -->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='login2.jpg') }}')">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                  <h1 style="letter-spacing: 12px;">ADMIN LOGIN</h1>
                  <span class="subheading" style="color: #ffb900;">Login to Continue (Admin Only)</span>
                </div>
              </div>
            </div>
          </div>
        </header>
        <hr>
      {% block body %}{% endblock %}
      {% block content %}
         <!--<div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">-->
               <div class="cotainer">
                 <div class="row">
                   <div class="col-lg-8 col-md-10 mx-auto">
                     {% if error %}<p class=error style="color: red;"><strong>Error:  </strong>{{ error }} {% endif %}
                     <form name="addForm" id="addForm" method="POST" action="{{ url_for('login') }}" novalidate>
                       <div class="control-group">
                         <div class="form-group floating-label-form-group controls">
                           <label>Username</label>
                           <input type="text" class="form-control" placeholder="Username" name="username" id="username" required data-validation-required-message="Please enter your username.">
                           <p class="help-block text-danger"></p>
                         </div>
                       </div>
                       <div class="control-group">
                         <div class="form-group floating-label-form-group controls">
                           <label>Password</label>
                           <input type="password" class="form-control" placeholder="Password" name="password" id="password" required data-validation-required-message="Please enter a password.">
                           <p class="help-block text-danger"></p>
                         </div>
                       </div>
                       <br>
                       <div id="success"></div>
                       <div class="form-group">
                         <button type="submit" class="btn btn-secondary" id="sendMessageButton">Login</button>
                       </div>
                     </form>
                  </div>
                </div>
              </div>
           <!--</div>
        </div>-->
       {% endblock %}
       {% include "footer.html" %}
    <!-- Bootstrap core JavaScript -->
  <!--  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='myblog.min.js') }}"></script>
  </body>
</html>
